<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwadek.crm.workbench.mapper.ActivityMapper">
    <resultMap id="BaseResultMap" type="com.dwadek.crm.workbench.pojo.Activity"></resultMap>

    <insert id="insertActivity" parameterType="com.dwadek.crm.workbench.pojo.Activity">
        insert into tbl_activity(
            id,
            owner,
            name,
            startDate,
            endDate,
            cost,
            description,
            createTime,
            createBy


        )
        values (
                   #{id},
                   #{owner},
                   #{name},
                   #{startDate},
                   #{endDate},
                   #{cost},
                   #{description},
                   #{createTime},
                   #{createBy}

               )
    </insert>

    <select id="selectActivityByConditionForPage" parameterType="map" resultMap="BaseResultMap">
        select a.id,u1.name as owner,a.name,a.startDate,a.endDate,a.cost,
               a.description,a.createTime,u2.name as createBy,a.editTime,u3.name as editBy
        from tbl_activity a
        join tbl_user u1 on a.owner=u1.id
        join tbl_user u2 on a.createBy=u2.id
        left join tbl_user u3 on a.edit=u3.id
        <where>
            <if test="name!=null and name!=''">
                and a.name like '%' #{name} '%'
            </if>
            <if test="owner!=null and owner!=''">
                and u1.name like '%' #{owner} '%'
            </if>
            <if test="startDate!=null and startDate!=''">
                and a.startDate >= #{startDate}
            </if>
            <if test="endDate!=null and endDate!=''">
                and a.endDate &lt;= #{endDate}
            </if>
        </where>
        order by a.createTime desc
        limit #{beginNo},#{pageSize}
    </select>

    <select id="selectCountOfActivityByCondition" parameterType="map" resultType="int">
        select a.id,u1.name as owner,a.name,a.startDate,a.endDate,a.cost,
        a.description,a.createTime,u2.name as createBy,a.editTime,u3.name as editBy
        from tbl_activity a
        join tbl_user u1 on a.owner=u1.id
        join tbl_user u2 on a.createBy=u2.id
        left join tbl_user u3 on a.edit=u3.id
        <where>
            <if test="name!=null and name!=''">
                and a.name like '%' #{name} '%'
            </if>
            <if test="owner!=null and owner!=''">
                and u1.name like '%' #{owner} '%'
            </if>
            <if test="startDate!=null and startDate!=''">
                and a.startDate >= #{startDate}
            </if>
            <if test="endDate!=null and endDate!=''">
                and a.endDate &lt;= #{endDate}
            </if>
        </where>
    </select>

    <delete id="deleteActivityByIds" parameterType="string">
        delete
        from tbl_activyty
        where id in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectActivityById" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_list"></include>
        from tbl_activity
        where id=#{id}
    </select>

    <update id="updateActivity" parameterType="com.dwadek.crm.workbench.pojo.Activity">
        update tbl_activity
        set owner=#{owner},name=#{name},startDate=#{startDate},endDate=#{endDate},cost=#{cost},description=#{description},editTime=#{editTime},editBy=#{editBy}
        where id=#{id}
    </update>

</mapper>
